@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body
{
    background-color: antiquewhite;

}

*
{
    margin: 0;
    padding: 0;
}

nav
{
    font-family: 'Ubuntu', sans-serif;
}


nav ul
{
    display: flex;
    align-items: center;
    height: 65px;
    list-style-type: none;
    background-color: black;
    color: white;
}
nav ul li
{
    padding: 0 13px;
}
.brand img
{
    width:45px;
    padding:0 8px;
}
.brand
{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container
{
    min-height: 72vh;
    background-color: black;
    color: white;
    display:flex;
    margin:20px auto;
    width:70%;
    border-radius: 13px;
    padding: 30px;
    background-image: url(./images/pexels-photo-3638731.jpeg);
    font-family: 'Varela Round', sans-serif;
}

#myProgressBar
{
    width: 80vw;
}

.bottom
{
    position:sticky;
    height: 130px;
    background-color: black;
    color: white;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    /* margin:12px 0px; */
}
.icons
{
    margin-top: 15px;
}